<a href="https://colab.research.google.com/github/An-Dongsun/Melanoma-Detection/blob/main/HAM10000_%EC%9D%B4%EB%AF%B8%EC%A7%80_%ED%8F%B4%EB%8D%94%EB%B3%84%EB%A1%9C_%EC%A0%80%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터셋 출처
* kaggle
* Skin cancer: HAM10000
* https://www.kaggle.com/datasets/surajghuwalewala/ham1000-segmentation-and-classification?select=masks

In [ ]:
import pandas as pd

# 구글 드라이브에서 HAM:10000의 csv 파일을 가져온다.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/GroundTruth.csv')

In [ ]:
df.head()

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   image   10015 non-null  object
 1   MEL     10015 non-null  float64
 2   NV      10015 non-null  float64
 3   BCC     10015 non-null  float64
 4   AKIEC   10015 non-null  float64
 5   BKL     10015 non-null  float64
 6   DF      10015 non-null  float64
 7   VASC    10015 non-null  float64
dtypes: float64(7), object(1)
memory usage: 626.1+ KB

In [ ]:
df.columns[1:]

Index(['MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC'], dtype='object')

In [ ]:
# 각 질병의 사진이 몇개씩 있는지 확인한다.
for i in df.columns[1:]:
    print(f'{i} :',df['image'][df[f'{i}'] == 1].count())

MEL : 1113
NV : 6705
BCC : 514
AKIEC : 327
BKL : 1099
DF : 115
VASC : 142

In [ ]:
df['image'][df['BCC'] == 1]

25       ISIC_0024331
26       ISIC_0024332
39       ISIC_0024345
54       ISIC_0024360
97       ISIC_0024403
             ...
9917     ISIC_0034223
9949     ISIC_0034255
9970     ISIC_0034276
9993     ISIC_0034299
10000    ISIC_0034306
Name: image, Length: 514, dtype: object

# 질환별로 폴더를 만들어서 이미지를 옮겨준다.
* https://www.delftstack.com/ko/howto/python/python-move-file/

In [ ]:
import shutil
import os

In [ ]:
for i in df.columns[1:]:
    for j in df['image'][df[f'{i}'] == 1]:
        # 기존 경로, 새 경로
        shutil.move(f"/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/images/{j}.jpg", f"/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/{i}/{j}.jpg")

# 잘 분류되었는지 확인해준다.

* https://seong6496.tistory.com/100

In [ ]:
file_list = os.listdir('/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/AKIEC')
file_list[0][:-4]

'ISIC_0033413'

In [ ]:
df['AKIEC'][df['image'] == file_list[0][:-4]]

9027    0.0
Name: AKIEC, dtype: float64

In [ ]:
for i in df.columns[1:]:
    # 해당 폴더에 있는 파일목록을 리스트로 가져온다.
    file_list = os.listdir(f'/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/{i}')
    counter = 0
    # 해당 컬럼에 해당하는 데이터만 가져온다.
    df2 = df[df[f'{i}'] == 1]
    for i in df2['image']:
        if i not in file_list:
            continue
        else:
            counter += 1

    print(counter)

0
0
0
0
0
0
0

In [ ]:
for i in df.columns[1:]:
    # 해당 폴더에 있는 파일목록을 리스트로 가져온다.
    file_list = os.listdir(f'/content/drive/MyDrive/CP1 데이터/Skin cancer HAM10000/{i}')
    counter = 0
    # 해당 컬럼에 해당하는 데이터만 가져온다.
    df2 = df[df[f'{i}'] == 1]
    for i in df2['image']:
        if i in file_list:
            continue
        else:
            counter += 1

    print(counter)

1113
6705
514
327
1099
115
142

* 위에서 구한 갯수와 동일하다.
* 잘못 들어간 데이터가 없다.

# 흑색종 데이터셋 zip 파일을 압축 해제 해준다.
* https://code.tutsplus.com/ko/tutorials/compressing-and-extracting-files-in-python--cms-26816

In [ ]:
import zipfile
         
fantasy_zip = zipfile.ZipFile('/content/drive/MyDrive/CP1 데이터/흑색종.zip')
fantasy_zip.extractall('/content/drive/MyDrive/CP1 데이터')
 
fantasy_zip.close()